---
---

body {
    background-color: #fdf6e3;
    color: #444;
}

main {
    margin: auto;
    width: 80%;
    max-width: 800px;
}

footer.site-footer {
    margin: auto;
    margin-top: 2em;
    width: 80%;
    max-width: 800px;
}

h1.header-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.67em;
    margin-bottom: 0em;
    width: 80%;
    max-width: 800px;
}

h2.post-title {
    margin-bottom: 0;
}

a.title {
    text-decoration: none;
}

a.title:visited {
    text-decoration: none;
}

a {
    color: #555;
}

a:visited {
    color: #666;
}

div.post-body {
    margin-left: 5%;
    margin-right: 5%;
}

span.date {
    font-size: 12px;
    font-weight: normal;
    display: block;
}

span.footer-text {
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.post-meta {
    margin-top: 0;
    margin-bottom: 0;
}

div.highlighter-rouge {
    overflow-x: scroll;
    width: 100%;
    border-style: solid;
    border-color:#444;
    border-width: 0.2em;
    padding: 0.5em;
    border-radius: 0.2em;
}
